.vs/PresentationGenerator/v15/.suo
*.cache
*.pdb
PresentationGenerator/Presentations/*.*
*.txt
PresentationGenerator/wwwroot/Presentations
PresentationGenerator/bin
PresentationGenerator/obj
PresentationGenerator-Test/bin
PresentationGenerator-Test/obj