
.vs/PresentationGenerator/v15/.suo
.vs/PresentationGenerator/v15/.suo
.vs/PresentationGenerator/v15/.suo
*.cache
*.cache
*.pdb
.vs/PresentationGenerator/v15/.suo
PresentationGenerator/Presentations/*.*
